:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

.preloader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    user-select: none;
    position: fixed;
    background: var(--bg);
    z-index: 100;
    transition: .3s linear;
}
.loading{
    font-family: "Monument Extended";
    color: #eee;
    position: absolute;

}
.loader{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}
.loader::after,
.loader::before{
    animation: loader 2s linear infinite;
    content: "";
    border: 2px solid #fff;
    width: 140px;
    height: 140px;
    position: absolute;
    border-radius: 50%;
}
.loader::after{
    opacity: 0;
    animation-delay: 1s;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background:#fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding: 2rem 7%;
}

article{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .1rem;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.1rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 10;
}

.header .logo img{
    height: 5rem;
    border-radius: 25%;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    height: 3rem;
}

.header .icons div{
    margin-left: 1rem;
}

.header .icons div:hover{
    color: var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover{
    color: var(--main-color);
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(assets/fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 58.7rem;
}

.home .content h1{
    font-size: 6.2rem;
    text-transform: uppercase;
    color: #eee;
}

.home .content .autoEscritura{
    font-size: 6.5rem;
}

.home .content h2{
    font-size: 5rem;
    font-family: monospace;
    border-right: 3px solid;
    display: inline-block;
    color: var(--main-color);
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: var(--main-color);
}

.about .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
    text-align: justify;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box{
    text-align: center;
    margin: .3rem;
}


.other-menu{
    border: var(--border);
    margin: 2rem 7%;
}

.other-menu .box-container .box{
    text-align: center;
    margin: .3rem;
    padding: 1.2rem;

}

.menu .box-container .box .image{
    padding: 0.9rem 0;
    overflow: hidden;
}

.menu .box-container .box .image img{
    height: 14rem;
}

.menu .box-container .box .content h3{
    color: #fff;
    font-size: 1.4rem;
}

.menu .box-container .box .content .price{
    color: #fff;
    font-size: 2.5rem;
}

.menu .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.products .container{
    position: relative;
    width: 60%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.products .slider-container .slider{
    height: 45rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 30%;
}

.products .slider-container .slider .slider-content{
    flex: 1 1 20rem;
    animation: sliderContent .8s linear .7s backwards;
}
@keyframes sliderContent{
    0%{
        opacity: 0;
        transform: translateX(-7rem);
    }
}

.products .slider-container .slider .image{
    flex: 50% 1 auto;
}

.products .slider-container .slider .image img{
    width: 12rem;
    animation: sliderImage .8s linear;
}
@keyframes sliderImage{
    0%{
        opacity: 0;
        transform: translateY(-7rem);
    }
}

.products .slider-container .slider .slider-content h3{
    font-size: 4.2rem;
    color: #eee;
}

.products .slider-container .slider .slider-content p{
    font-size: 1.6rem;
    color: #eee;
    padding: .3rem 0;
    letter-spacing: .1rem;
}

.products .slider-container .slider .slider-content .slider-btn{
    margin-top: 1.5rem;
    display: inline-block;
    background: #2b2b2b;
    color: #eee;
    font-size: 1.5rem;
    padding: .7rem 3rem;
}

.products .slider-container .slider .slider-content .slider-btn:hover{
    background: var(--main-color);
}

.container .slider-container{
    display: none;
}

.container .slider-container.active{
    display: block;
}

.container #prev,
.container #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    background: rgba(101, 98, 98, 0.1);
    height: 5rem;
    width: 5rem;
    line-height: 5.1rem;
    font-size: 3.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.container #prev:hover,
.container #next:hover{
    background: #313131;
    color: #010103;
    font-size: 3rem;
}

.container #prev{
    left: 2rem;
}

.container #next{
    right: 2rem;
}

.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding:3rem 2rem;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: #fff;
    padding: 2rem 0;
}

.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color: var(--main-color);
}

.contact .row{
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}

.contact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

.footer{
    background: var(--black);
    text-align: center;
 }

.footer .share{
    padding: 1rem 0;
 }

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
 }

.footer .share a:hover{
    background-color: var(--main-color);
 }

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a{
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background: var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span{
    color: var(--main-color);
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    section, article{
        padding: 2rem;
    }
}

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #2b2b2b;
        color: #eee;
        width: 100%;
        height: calc(100vh - 9.5rem);
        text-align: center;
    }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{
        color: #eee;
        display: block;
        margin-top: 4.5rem;
        padding: .5rem;
        font-size: 2.2rem;
        border-bottom: .1rem solid #eee;
    }

    .header .search-form{
        width: 90%;
        right:2rem;
    }

    .home{
        background-position: right;
        justify-content: center;
        text-align: center;
    }

    .home .content h1{
        font-size: 5.5rem;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.6rem;
        font-weight: 500;
    }

    .container #prev{
        left: 0;
        top: 89%;
    }

    .container #next{
        right: 0;
        top: 89%;
    }

    .products .container{
        width: 100%;
    }
    
    .products .slider-container .slider{
        align-items: center;
        flex-wrap: nowrap;
        padding: 2rem 10%;
    }

}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}

.box .agotado {
    color: #ff0000;
    font-size: 2.5rem;
    border: 2px solid;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 1rem 2rem;
    transform: translate(-11rem, 4rem) scale(.9,.9) rotate(-35deg);
    position: absolute;
    display: inline-block;
}
.box-agotado img,.box-agotado h3,.box-agotado .price{
    opacity: .3;
}